doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Yang's home
    // Bootstrap core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    script(src='../socket.io.js')
    // Custom styles for thistemplate
    link(href='../css/agency.min.css', rel='stylesheet')
    style.
      #popup_bg{
      position:fixed;
      top:0;
      bottom: 0;
      background-color: rgba(0,0,0,0.7);
      width: 100%;
      height: 100%;
      display: none;
      }
      .popup_main{
      position:fixed;
      width: 390px;
      height:450px;
      border-style: solid;
      border-color:dimgray;
      background-color: dimgray;
      border-radius: 5px;
      left: 35%;
      bottom: 3%;
      background-size: 100% 100%;
      }
      .chat_header{
      height: 60px;
      }
      .chat_header img{
      width: 60px;
      height: 60px;
      margin-left: 44%;
      margin-right: 45%;
      }
      .chat_list{
      background-color:#878787;
      width: 80%;
      height: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border-style: solid;
      border-color:#787878;
      border-radius: 5px;
      }
      .chat_add_input{
      margin-left: 29%;
      border-style: solid;
      border-color:#787878;
      border-radius: 5px;
      }
      .chat_add_submit{
      margin-left: 45%;
      border-style: solid;
      border-color:#787878;
      border-radius: 5px;
      }
      .close_popup img{
      position:absolute;
      width: 15px;
      height: 15px;
      cursor: pointer;
      }
      .close_popup img:hover{
      cursor: pointer;
      }
      .close_popup{
      position:absolute;
      width: 15px;
      height: 15px;
      right: 5px;
      top: 5px;
      }
      .close_popup p{
      margin: -5px 0 0 0;
      font-family: sans-serif;
      }
      .popup_banner p{
      margin: 12px 0 -15px 0;
      font-size: 30px;
      text-align: center;
      font-family: sans-serif;
      font-weight: bold;
      color: black;
      }
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Yang's home
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#team') #{user_info.email} 님
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#services') Services
            li.nav-item
              form(method='get', action='/users/logout', name='frm2')
                a.nav-link.js-scroll-trigger(href='#portfolio', onclick='logout();') Logout
            li.nav-item
              a.nav-link.js-scroll-trigger(onclick='openchat();') Chat
            button(onclick='socket_connect();') test
            //
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
    // Header
    header.masthead
      .container
        .intro-text
          //
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    // Services
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Services
            // <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        .row.text-center
          .col-md-4
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
            h4.service-heading manchester united
            p.text-muted EPL 최고의 실력과 근본을 자랑하는 명문구단
          .col-md-4
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-laptop.fa-stack-1x.fa-inverse
            h4.service-heading Photo
            p.text-muted 일상 사진
          .col-md-4
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-lock.fa-stack-1x.fa-inverse
            h4.service-heading Web Security
            p.text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    // Portfolio Grid
    //
      <section class="bg-light" id="portfolio">
      <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Threads</h4>
      <p class="text-muted">Illustration</p>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Explore</h4>
      <p class="text-muted">Graphic Design</p>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Finish</h4>
      <p class="text-muted">Identity</p>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Lines</h4>
      <p class="text-muted">Branding</p>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Southwest</h4>
      <p class="text-muted">Website Design</p>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
      <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      <i class="fa fa-plus fa-3x"></i>
      </div>
      </div>
      <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
      </a>
      <div class="portfolio-caption">
      <h4>Window</h4>
      <p class="text-muted">Photography</p>
      </div>
      </div>
      </div>
      </div>
      </section>
    // About
    //
      <section id="about">
      <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <ul class="timeline">
      <li>
      <div class="timeline-image">
      <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>2009-2011</h4>
      <h4 class="subheading">Our Humble Beginnings</h4>
      </div>
      <div class="timeline-body">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
      </div>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-image">
      <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>March 2011</h4>
      <h4 class="subheading">An Agency is Born</h4>
      </div>
      <div class="timeline-body">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
      </div>
      </div>
      </li>
      <li>
      <div class="timeline-image">
      <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>December 2012</h4>
      <h4 class="subheading">Transition to Full Service</h4>
      </div>
      <div class="timeline-body">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
      </div>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-image">
      <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
      </div>
      <div class="timeline-panel">
      <div class="timeline-heading">
      <h4>July 2014</h4>
      <h4 class="subheading">Phase Two Expansion</h4>
      </div>
      <div class="timeline-body">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
      </div>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-image">
      <h4>Be Part
      <br>Of Our
      <br>Story!</h4>
      </div>
      </li>
      </ul>
      </div>
      </div>
      </div>
      </section>
    // Team
    //
      <section class="bg-light" id="team">
      <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4">
      <div class="team-member">
      <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
      <h4>Kay Garland</h4>
      <p class="text-muted">Lead Designer</p>
      <ul class="list-inline social-buttons">
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-twitter"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-facebook"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-linkedin"></i>
      </a>
      </li>
      </ul>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="team-member">
      <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
      <h4>Larry Parker</h4>
      <p class="text-muted">Lead Marketer</p>
      <ul class="list-inline social-buttons">
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-twitter"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-facebook"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-linkedin"></i>
      </a>
      </li>
      </ul>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="team-member">
      <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
      <h4>Diana Pertersen</h4>
      <p class="text-muted">Lead Developer</p>
      <ul class="list-inline social-buttons">
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-twitter"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-facebook"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-linkedin"></i>
      </a>
      </li>
      </ul>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
      </div>
      </div>
      </section>
    // Clients
    //
      <section class="py-5">
      <div class="container">
      <div class="row">
      <div class="col-md-3 col-sm-6">
      <a href="#">
      <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
      <a href="#">
      <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
      <a href="#">
      <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
      <a href="#">
      <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
      </a>
      </div>
      </div>
      </div>
      </section>
    // Contact
    //
      <section id="contact">
      <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-12">
      <form id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="row">
      <div class="col-md-6">
      <div class="form-group">
      <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
      <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
      <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
      <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
      <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
      <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 text-center">
      <div id="success"></div>
      <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
      </div>
      </div>
      </form>
      </div>
      </div>
      </div>
      </section>
    // Footer
    //
      <footer>
      <div class="container">
      <div class="row">
      <div class="col-md-4">
      <span class="copyright">Copyright &copy; Your Website 2018</span>
      </div>
      <div class="col-md-4">
      <ul class="list-inline social-buttons">
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-twitter"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-facebook"></i>
      </a>
      </li>
      <li class="list-inline-item">
      <a href="#">
      <i class="fa fa-linkedin"></i>
      </a>
      </li>
      </ul>
      </div>
      <div class="col-md-4">
      <ul class="list-inline quicklinks">
      <li class="list-inline-item">
      <a href="#">Privacy Policy</a>
      </li>
      <li class="list-inline-item">
      <a href="#">Terms of Use</a>
      </li>
      </ul>
      </div>
      </div>
      </div>
      </footer>
    // Portfolio Modals
    // Modal 1
    //
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Threads</li>
      <li>Category: Illustration</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // Modal 2
    //
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Explore</li>
      <li>Category: Graphic Design</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // Modal 3
    //
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Finish</li>
      <li>Category: Identity</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // Modal 4
    //
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Lines</li>
      <li>Category: Branding</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // Modal 5
    //
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Southwest</li>
      <li>Category: Website Design</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // Modal 6
    //
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl"></div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="col-lg-8 mx-auto">
      <div class="modal-body">
    // Project Details Go Here
    //
      <h2 class="text-uppercase">Project Name</h2>
      <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
      <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
      <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
      <ul class="list-inline">
      <li>Date: January 2017</li>
      <li>Client: Window</li>
      <li>Category: Photography</li>
      </ul>
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fa fa-times"></i>
      Close Project</button>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    #popup_bg
      .popup_main
        .chat_header(overflow:scroll='')
          img(src='../img/Chat.png')
        .chat_list
          ul
           -for(var i=0;i<user_info.length;i++){
             li 
               a(href="/chat/open/?guest=#{user_info[i]._doc.contact_person}" onclick="document.getElementById('frm#{i}').submit();") #{user_info[i]._doc.contact_person + i} 
           -}  
        .chat_add
          form(method='get', action='/chat/chatadd')
            input.chat_add_input(type='text', value='', name='receiver')
            br
            br
            input.chat_add_submit(type='submit', valuse='등록', onclick='chat_add()')
        .close_popup(onclick='closePop()')
          img(src='../img/close-window.png')
    script(type='text/javascript').
      var popup = document.getElementById("popup_bg");
      function openPop(){
      popup.style.display = "block";
      }
      function closePop(){
      popup.style.display = "none";
      }
      function logout(){
      frm2.submit();
      }
      function openchat(){
      popup.style.display = "block";
      }
      function chat_open(){
      frm3.submit();
      }
      function socket_connect(){
      var url = 'http://13.209.237.191:3000';
      var options = {'forceNew' : true};
      var socket = io.connect(url,options);
      socket.on('connect',function(){
      alert("socket's successfully connected");
      })
      }
    // Bootstrap core JavaScript
    script(src='../vendor/jquery/jquery.min.js')
    script(src='../vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='../vendor/jquery-easing/jquery.easing.min.js')
    // Contact form JavaScript
    script(src='../js/jqBootstrapValidation.js')
    script(src='../js/contact_me.js')
    // Custom scripts for this template
    script(src='../js/agency.min.js')
//저 for로 여러개 폼을 똑같은 이름으로 만드니까 전송이안가더라고 그래서 다른거 지우고 아이디 한개만 해서 폼한개만 해서 전송하면 채팅방 로드하는거 됐음